# 开发服务器端口
VITE_PORT=8888

# Dify API 配置
VITE_API_BASE_URL=http://REDACTED_PUBLIC_IP:60086/api/v1
VITE_CHAT_API_KEY=app-bBMVW3TWyJ94CobDSDuQpzTQ

# 环境标识
VITE_ENV=development

# 当前用户（用于侧边栏展示）
# VITE_USER_NAME=张三
# VITE_USER_AVATAR_URL=https://example.com/avatar.png